:root {
    --primary-green: #495E57; 
    --primary-yellow: #FACE14;
    --secondary-peach: #EE9972;
    --secondary-beige: #FBDABB;
    --hightlight-grey: #EDEFEE;
    --highlight-black: #333333;
    --border-radius: 16px;
    --fontMarkazi: 'Markazi Text', 'Times New Roman', Times, serif;
    --fontKarla: 'Karla Regular', Arial, Helvetica, sans-serif;
  }

 body {
    font-family: var(--fontKarla);
    color: var(--primary-green)
 }

  [class ^= "special-"] {
    display: grid;
    /* place-items: center; */
    /* border: solid 5px orangered; */

    border-radius: 20px;
    margin: 20px;
    gap: 20px;
  
  }

  .special-1,
  .special-2,
  .special-3 {
    box-shadow: 1px 2px 15px #ababab;
    background-color: var(--hightlight-grey);
  }

  .specials {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    
  }

  .special-title {
    display: flex;
  }


  .online-menu {
    background-color: var(--primary-yellow);
    font-family: 'Karla', 'Times New Roman', Times, serif;        height: 50px;
    width: 200px;
    border-radius: 16px;
    border-style: none;
    font-size: 15pt;
    font-weight: bold;
    margin-left: auto;  /* align last object to the right*/
    color: var(--primary-green);
    
 }


 .dish-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
  }
  
  .dish-info, 
  .dish-description, 
  .delivery {
    display: flex;
    margin: 20px;
  }


.dish-name, .person-name{
    font-size: 1.2em;
    font-weight: bold;
}

.dish-price {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--secondary-peach);
    margin-left: auto;
}

.dish-description {
    font-size: 1em;
}

.delivery {
display: flex;
align-items: center;
}

.delivery a {
    font-weight: bold;
    font-size:large;
    font-style: none;
}

.dish-name {
  font-size: larger;
}

.delivery-icon {
  margin-left: auto;
  margin-right: 1em;
  color: var(--primary-green);
}

h2 {
  font-size: 20pt;
}

.weekly-specials,
.online-menu {
  align-self: center;

}


@media (min-width: 768px) {

    .specials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .specials .special-title {
        grid-column: span 2;
      }
    
      .specials .special-1 {
        grid-column: span 1;
      }

      .specials .special-2 {
        grid-column: span 1;
      }

      .specials .special-3 {
        grid-column: span 1;
      }   
  }

  @media (min-width: 1080px){


    .specials {
        display: grid;
        grid-template-columns: 200px 1fr 1fr 1fr 200px;
      }
    
     .specials .special-title {
        grid-column: 2 / 5;
      }
    
      .specials .special-1 {
        grid-column: 2 / 3;
      }

      .specials .special-2 {
        grid-column: 3 / 4;
      }

      .specials .special-3 {
        grid-column: 4 / 5;
      }


  }

  


  

